.search-bar {
  text-align: center;
  padding: 50px;
  margin: 30px;
}

.btn-categories {
  text-align: center;
  padding: 50px;
  margin: 20px;
}

.btn-categories > button {
  background-color: navy;
  color: #ffffff;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 80px;
  margin-top: 80px;
}

.card {
  text-align: center;
  width: 14rem;
  border: 2px solid orchid;
  padding: 5px 5px;
  margin: 5px 5px;
}

.card-img {
  max-width: 200px;
  max-height: 200px;
}

.card-price,
.card-category {
  text-align: center;
  font-size: medium;
}
